@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Cabin);

@import 'reset';
$breakpoint-phone: 600px;

// Index Page
.info {
	padding: 1rem;
}

.info-section {
	padding: 1rem 0;
}

.info-section-title {
	margin-bottom: 1rem;
}

.info-section-sub {
	display: inline-block;
	margin-bottom: 1rem;

	@media (min-width: $breakpoint-phone) {
		width: 50%;
		vertical-align: top;
		margin-bottom: 0;
	}
}

.info-section-list {
	padding-left: 1rem;
	list-style-type: disc;
	list-style-position: inside;
}

.info-section-list-item {
	margin-bottom: .25rem;

	&:last-child {
		margin-bottom: 0;
	}
}

.copyright {
	padding: 1rem;
	font-size: .75rem;
}

body {
	&.overflow-hidden {
		overflow: hidden;
	}
}


.hero-image{
	height: 100vh;
	width: 100%;
	overflow: hidden;
	position: relative;
	background-color: white;
	background-image: url("../assets/cat.gif");
	background-repeat: no-repeat;
	background-position: center;

	img {
		height: 100%;
		max-width: 2400px; //correct this....

		&.wider {
			height: auto;
			width: 100%;
		}
	}

	&.loaded:before {
		z-index: 200;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
	}
}

.hero-image-text {
	margin: 0 auto;
	position: absolute;
	top: 0;
	z-index: 300;
	padding: 30px 60px;
	opacity: 0;

	h1, a, p {
		color: white;
		max-width: 1000px;
	}
}

.opacity-transition {
	opacity: 0;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;

	&.is-shown {
		opacity: 1;
	}
}



// Pottery page
#ceramics-slider {

	.slick-dots li button:before {
		font-size: 40px;
	}

	.caption {
		text-align: center;
	}
}


.ceramics {
	h2 {
		padding: 10px 20px 10px 0px;
	}
}



#image-grid {
	li {
		background-image: url("../assets/cat.gif");
		min-height: 48px;
		background-repeat: no-repeat;
		background-position: center;

		&.is-loaded {
			background-image: none;
		}
	}
}

.reveal-modal {
	height: 80%;

	img {
		max-height: 80%;
		max-width: 100%;
		width: auto;
		display: block;
		margin: 0 auto;
		padding: 0;
	}
}

#artModal {
	#modal-title {
		text-align: center;
	}

	#modal-caption {
		margin-top: 20px;
		text-align: center;
	}
}
