@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


@import 'reset';

$breakpoint-phone: 600px;

body {
	max-width: 1600px;
	margin: 0 auto;
}

.content-panel {
	height: 93vh;
	margin-bottom: 7vh;
}

.content-panel-image {
	box-sizing: border-box;
	overflow: hidden;
	height: 50vh;
	background-size: cover;

	&.chicago-bean {
		background-image: url("../assets/chicago-bean.jpg");
	}

	&.rice-paddy-mountain {
		background-image: url("../assets/ricePaddyDreams.jpg");
	}

	&.whitney {
		background-image: url("../assets/whitney.jpg");
	}
}

@media (min-width: $breakpoint-phone) {
	.content-panel-image {
		height: 100%;
	  width: 48%;
	  display: inline-block;
	  vertical-align: middle;
	}
}

.content-panel-text {
	padding: 20% 32px 32px 32px;
	height: 50vh;
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	color: #34495e;
	text-align: center;
}

@media (min-width: $breakpoint-phone) {
	.content-panel-text {
		padding: 32px 32px 32px 32px;
		height: auto;
		width: 52%;
		display: inline-block;
		text-align: left;
		vertical-align: middle;
	}
}

.content-panel-list {
	padding-top: 24px;
}

.content-panel-list-item {
	margin-bottom: 8px;
}

.content-panel-list-icon {
	height: 24px;
	width: 24px;
	margin-right: 8px;
	vertical-align: middle;
}

.copyright {
	padding: 12px;
}

@media (max-width: $breakpoint-phone) {
	.bottom-margin-mobile {
		margin-bottom: 32px;
	}
}

.image-carousel {
	height: 70vh;
}

.image-carousel-item {
  width: 100%;
  height: 100%;

	img {
		position: absolute;
		left: 50%;
    transform: translateX(-50%);
		height: 100%;
	}
}

/* position dots up a bit */
.flickity-page-dots {
  bottom: -22px;
}
/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}

.art-page-info {
	padding: 2rem;
	max-width: 1400px;
	margin: 0 auto;
}

.art-page-grid {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}
